@import url("reset.css");

@font-face {
    font-family: 'ComicSansMS';
    src:url('../fonts/comic.ttf');
}

body{
	background-color:white;
    font-family: "Comic Sans MS", ComicSansMS, sans-serif;
}

#top {
	padding-top:25px;
	padding-bottom:25px;
}

#top h1 {
	width:80%;
	margin:auto;
	text-align:center;
	font-size: 10vh;
	color: purple;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

#fullscreenButton {
	position:absolute;
	background-color:grey;
	border: 5px solid black;
	border-radius: 8px;
	box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
	width:32px;
	height:32px;
	right:5px;
	top:5px;
	
}

.hide {
	display: none;
}

.grid-container{
	position:relative;
	width:50%;
	float:left;
}

.grid-container:after {
	content: "";
	display: block;
	padding-bottom: 100%;
  }

#grid{
	display:grid;
	text-align:center;
	border-right:0;
	border-bottom:0;
	position:absolute;
	width:100%;
	height:100%;	
}

.grid-border-style{
	border:1px solid #999;
}


.cell {
	border-left:0;
	border-top:0;
	transition: box-shadow 1s ease-out;
}

.cell:hover{
	box-shadow:0 0 20px 5px yellow;
	transition:box-shadow 0s;
}


.shaded {
	background-color: grey;
}

#controls{
	padding:0 5px 0 5px;
	float:left;
	width:25%;
}

#controls .button{
	width:80%;
}


.button{
	text-align:center;
	border:2px solid purple;
	border-radius:5px;
	background-color:#FFCCFF;
	height:3em;
	margin:0 0 2em 0;
}

.button:hover{

	background-color:#FF93FF;
}

.dialog-box{
	position:absolute;
	top:25%;
    left:20%;
    width:60%;
	border:6px solid purple;
	border-radius:16px;
    background-color:#FFCCFF;
	box-shadow:12px 12px 10px 2px rgba(0,0,0,0.6);
}

.dialog-box-flash{
	animation: dialog-box-flash 0.25s;
}

@keyframes dialog-box-flash{
	0% {
		box-shadow:0;
	}
	50%{
		box-shadow:0 0 25px 10px red;
	}
	100%{
		box-shadow:0;
	}
}

.dialog-box h1{
	font-size:24pt;
	margin-top:10px;
	text-align:center;
}
.dialog-box p{
	margin:24px;
	font-size:12pt;
}

.dialog-box input{
	width:6em;
	font-size:12pt;
	border: 1px solid #ff93ff;
	border-radius:5px;
}

.dialog-box input:hover{
	border: 1px solid purple;
}

.dialog-bttn-container{
	width:100%;
}

.dialog-box .button{
	margin-right:15px;
	float:right;
	padding-left:25px;
	padding-right:25px;
}



@media only screen and (max-device-width: 1280px) {
	#top{
		padding:5px 0 5px 0;
	}

	#top h1{
		font-size:12pt;
	}

	#fullscreenButton{
		width:14px;
		height:14px;
		border:1px solid black;
		border-radius:5px;
	}

	.button{
		height:2em;
		margin:0 0 1em 0;
	}

	.grid-container{
		width:60%;
	}

	#resize-dialog{
		top:5%;
		left:10%;
		width:80%;
	}

	#resize-dialog h1{
		font-size:12pt;
	}

	#resize-dialog p{
		font-size:10pt;
	}

	#resize-dialog input{
		font-size:10pt;
	}




}

@media only screen and (max-device-width: 1280px) and (orientation: landscape) {
	.grid-container{
		width:50%;
	}
}

