@import url("reset.css");

@font-face {
    font-family: 'ComicSansMS';
    src:url('../fonts/comic.ttf');
}

body{
	background-color:white;
    font-family: "Comic Sans MS", ComicSansMS, sans-serif;
}

#top {
	width:100%;
	height:16px;
}

h1 {
	width:100%;
	text-align:center;
	font-size: 32pt;
	color: purple;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	margin-bottom:1em;
}


.hide {
	display: none;
}



/*Grid containers*/
.square-container{
	position:relative;
}

.square-container:after {
	content: "";
	display: block;
	padding-bottom: 100%;
  }

.etch-grid-container{
	width:50%;
	float:left;
}

.color-grid-container{
	width:60%;
	margin-left:20%;
	margin-bottom:1em;
	float:left;
}

#etch-grid{
	display:grid;
	text-align:center;
	position:absolute;
	width:100%;
	height:100%;
	border:1px solid rgba(0,0,0,0.1);	
}

.cell {
	border:inherit;
	transition: box-shadow 1s ease-out;
}

.cell:hover{
	box-shadow:0 0 20px 5px yellow inset;
	transition:box-shadow 0s;
}

.color-picker-container{
	width:80%;
	height:3em;
	border:2px solid purple;
	border-radius:5px;
	padding:0;
	float:left;
	margin-left:10%;
}

#color-picker{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding:0;
	border:0;
}

#color-grid{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	position:absolute;	
	width:100%;
	height:100%;
	border:2px solid purple;
	border-radius:5px;
}

#controls{
	padding:0 5px 0 5px;
	float:left;
	width:25%;
	text-align:center;
}

#controls .button{
	width:80%;
}


.button{
	text-align:center;
	border:2px solid purple;
	border-radius:5px;
	background-color:#FFCCFF;
	height:3em;
	margin:0 0 2em 0;
}

.button:hover{

	background-color:#FF93FF;
}

.dialog-box{
	position:absolute;
	top:25%;
    left:20%;
    width:60%;
	border:6px solid purple;
	border-radius:16px;
    background-color:#FFCCFF;
	box-shadow:12px 12px 10px 2px rgba(0,0,0,0.6);
}

.dialog-box-flash{
	animation: dialog-box-flash 0.25s;
}

@keyframes dialog-box-flash{
	0% {
		box-shadow:0;
	}
	50%{
		box-shadow:0 0 25px 10px red;
	}
	100%{
		box-shadow:0;
	}
}

.dialog-box h1{
	font-size:24pt;
	margin-top:10px;
	text-align:center;
}
.dialog-box p{
	margin:24px;
	font-size:12pt;
}

.dialog-box input{
	width:6em;
	font-size:12pt;
	border: 1px solid #ff93ff;
	border-radius:5px;
}

.dialog-box input:hover{
	border: 1px solid purple;
}

.dialog-bttn-container{
	width:100%;
}

.dialog-box .button{
	margin-right:15px;
	float:right;
	padding-left:25px;
	padding-right:25px;
}



@media only screen and (max-device-width: 1280px) {

	h1{
		font-size:25pt;
		margin-bottom:0.5em;
		display:none;
	}

	#controls{
		width:95%;
		margin-left:2.5%;
		margin-top:0.25em;
		padding:0;
	}

	#controls .button{
		height:2em;
		margin:0 0 1em 0;
		width:30%;
	}

	.etch-grid-container{
		width:95%;
		margin-left:2.5%;
	}

	.color-grid-container{
		width:25%;
		clear:both;
		margin-left:20%;
		margin-bottom:0;
	}

	.color-picker-container{
		width:25%;
		height:100%;
		margin-left:10%;
	}

	#resize-dialog{
		top:5%;
		left:10%;
		width:80%;
	}

	#resize-dialog h1{
		font-size:12pt;
	}

	#resize-dialog p{
		font-size:10pt;
	}

	#resize-dialog input{
		font-size:10pt;
	}




}

@media only screen and (max-device-width: 1280px) and (orientation: landscape) {

	.etch-grid-container{
		width:45%;
	}

	.color-grid-container{
		width:40%;
		margin-left:30%;
	}



	h1 {
		font-size:20pt;
	}

	#controls{
		width:40%;
	}

	#controls .button{
		width:80%;
	}

	.color-picker-container{
		width:80%;
	
		margin-left:10%;
		height:2em;
		margin-top:1em;
	}
}

